.container {
  p {
    margin-block: 1rem;
  }

  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    gap: 1rem;

    h3 {
      text-align: center;
    }
  }

  h2 {
    margin-block: 3rem 1rem;
  }
}

.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-block: 1rem;

  h2 {
    margin-block: 0;
  }

  button {
    cursor: pointer;
    margin-right: 1rem;
    border-radius: var(--radius-md);
    border: solid 1px;
    color: hsl(from var(--foreground) h s l / .5);
    padding: .2rem .5rem;
    font-size: var(--text-sm);
    font-weight: 500;
    justify-self: center;

    &:hover {
      color: var(--foreground);
    }
  }
}