@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent: #4f96e5;
  --color-online: var(--color-green-600);
  --color-offline: var(--color-gray-600);
  --color-success: var(--color-green-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }

  a:not(:has(svg)) {
    color: var(--color-accent);
    text-decoration: underline;
  }

  ul {
    list-style: disc;
    padding-inline: 1.5rem;
    margin-inline: 0;
  }

  h2 {
    font-weight: bold;
    font-size: var(--text-lg);
    font-family: var(--font-mono);
  }

  h3 {
    font-weight: bold;
    font-size: var(--text-md);
  }
}