.body {
  min-height: 100%;
  /* something like 1280px */
  max-width: var(--container-6xl);
  margin-inline: auto;
  padding: .5rem 1rem;

  header h1 {
    font-size: var(--text-2xl);
    font-weight: bold;

    a {
      color: inherit;
      text-decoration: none;
    }

    /* blinking cursor effect. */
    /* another option is to put a big right-border on <code>, in which case the vertical
       sizing and alignment would be automatic. */
    &::after {
      margin-inline-start: .1em;
      background: var(--foreground);
      width: .65cap;
      height: 1.2cap;
      vertical-align: -.1cap;
      border-radius: .05cap;
      /* required to be able to assign width and height */
      display: inline-block;
      /* required for pseudo-element to exist */
      content: '';
      /* slower than the real thing to make it less distracting */
      animation: blink .8s linear alternate infinite;
    }
  }

  footer {
    padding-block: 2rem .5rem;
  }

  footer ul {
    padding-inline: 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: var(--text-sm);

    li:not(:first-child)::before {
      content: '/';
      margin-inline: .8rem;
    }

    a {
      text-decoration: none;
    }
  }
}

@keyframes blink {

  from,
  45% {
    opacity: 0;
  }

  55%,
  to {
    opacity: .8;
  }
}

/* the middle row of the layout: sidebar and main content */
/* TODO: this should all be converted to a grid in which the sidebar displaces the footer
   so that the footer can align with the main content. */
/* TODO: the grid needs to be responsive, hiding the sidebar behind a button at mobile
   sizes. */

.torso {
  display: flex;

  main {
    flex-grow: 1;
    /* grow but prevent huge content like images from overflowing container. */
    min-width: 50%;
  }
}

.sidebar {
  flex: 0 1 250px;
  min-width: fit-content;
  padding-block: 1rem;

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    text-decoration: none;
    font-weight: 600;
  }
}