/* main grid layout */
.container {
  display: grid;

  grid-template-columns: minmax(180px, 250px) 1fr;
  grid-template-rows: auto 1fr auto;

  >header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  >footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  >main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  >aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    white-space: nowrap;
    overflow-x: auto;
  }
}

.body {
  min-height: 100%;
  /* something like 1280px */
  max-width: var(--container-7xl);
  margin-inline: auto;
  padding: .5rem 1rem;
}

.container {

  >header h1 {
    font-size: var(--text-2xl);
    font-weight: bold;

    a {
      color: inherit;
      text-decoration: none;
    }

    /* blinking cursor effect. */
    /* another option is to put a big right-border on <code>, in which case the vertical
       sizing and alignment would be automatic. */
    &::after {
      margin-inline-start: .1em;
      background: var(--foreground);
      width: .65cap;
      height: 1.2cap;
      vertical-align: -.1cap;
      border-radius: .05cap;
      /* required to be able to assign width and height */
      display: inline-block;
      /* required for pseudo-element to exist */
      content: '';
      /* slower than the real thing to make it less distracting */
      animation: blink .8s linear alternate infinite;
    }
  }

  /* TODO: the grid needs to be responsive, hiding the sidebar behind a button at mobile
   sizes. */

  >footer {
    padding-block: 2rem .5rem;

    ul {
      padding-inline: 0;
      font-weight: bold;
      display: flex;
      justify-content: center;
      list-style: none;
      font-size: var(--text-sm);

      li:not(:first-child)::before {
        content: '/';
        margin-inline: .8rem;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

@keyframes blink {

  from,
  45% {
    opacity: 0;
  }

  55%,
  to {
    opacity: .8;
  }
}