.sidebar {
  padding-block: 1rem;
  position: fixed;
  /* the top inset prevents scrolled content from peeking out above the header. */
  inset: 1rem auto 0 0;
  z-index: 1;
  padding-block: 2rem 1rem;
  padding-inline: 1rem 3rem;
  background: var(--background);
  white-space: nowrap;
  /* causes grid 'auto' to shrink below content size */
  /* overflow-x: auto; */
  /* scroll independently of main content */
  overflow-y: auto;

  transform: translateX(-100%);
  transition: transform 0.15s ease-out;
  will-change: transform;

  &.sidebarOpen {
    transform: translateX(0);
  }

  h2 {
    font-weight: bold;
    font-family: var(--font-mono);
    font-size: var(--text-lg);
    margin-top: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    /* font-variant-numeric: tabular-nums; */
  }

  a {
    text-decoration: none;
    font-weight: 600;
  }

  footer {
    padding-block: 2rem .5rem;

    ul {
      padding-inline: 0;
      font-weight: bold;
      display: flex;
      flex-flow: column;
      list-style-position: inside;
      list-style-type: '/ ';
      font-size: var(--text-sm);

      li::marker {
        color: hsl(from var(--foreground) h s l / .6);
      }

      /* ::marker forbids padding and extra spaces in list-style-type
      cause misalignment in Edge */
      li::before {
        content: ' ';
        padding-inline: .1em;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: hsl(from black h s l / .5);
  backdrop-filter: blur(2px);
  cursor: pointer;
  appearance: none;

  &:focus {
    outline: none;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: static;
    transform: unset;
    padding-block: unset;
    padding-inline: 0 2rem;
    /* this seems redundant as a grid item, but it allows the inline padding to work */
    min-width: fit-content;
    background: unset;

    grid-column: 1;
    grid-row: 2;
  }

  .backdrop {
    display: none;
  }
}