# in development, use the following config with `turso dev -f local.db`
# (using the file directly requires switching to @libsql/client
# from serverless/production @libsql/client/web)
TURSO_DATABASE_URL=http://localhost:8080
# TURSO_DATABASE_URL=file:local.db
