.container {

  table {
    margin-inline: auto;
  }

  td,
  th {
    white-space: nowrap;
    padding-block: .1em;
    padding-inline: 0 1.5em;
  }
}

.statWrapper {
  padding-block: 1rem;
  overflow-inline: auto;
}