.container {
  padding-top: 1rem;

  table {
    margin-inline: auto;

    /* redundant because the tabs are labeled */
    caption {
      display: none;
    }
  }

  td,
  th {
    white-space: nowrap;
    padding-block: .1em;
    padding-inline: 0 1.5em;
  }
}

/* tables don't really work as horizontal scroll containers, so wrap them in a regular
   block container that will fill its container and contain overflow. */
.tableWrapper {
  padding-block: 1rem;
  overflow-inline: auto;
}