.container {
  max-width: 800px;

  ul {
    padding: 1rem 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    overflow-x: auto;
  }

  li {
    font-weight: bold;
    /* white-space: nowrap; */
    flex: none;

    a {
      text-decoration: none;
      color: inherit;

      &[aria-current='page'] {
        text-decoration: underline;
        color: var(--color-accent);
      }
    }
  }
}