.tabInterface {
  /* since we can't set opacity on the border specifically, here's a color derived from
     the foreground but with alpha set. */
  --faint: rgb(from var(--foreground) r g b / .5);

  /* selected tab has a brighter, heavier border underneath */
  [role='tablist'] {
    border-bottom: solid 1px var(--faint);

    button {
      font-weight: bold;
      padding: .4em .7em;
      cursor: pointer;
      /* maintain the extra space when not selected to prevent jumping */
      border-bottom: solid 2px transparent;

      &[aria-selected] {
        border-bottom-color: var(--foreground);
      }
    }
  }

  [role='tabpanel'] {
    padding-top: .2rem;
  }
}