.container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  backdrop-filter: brightness(35%) blur(1px);

  :global(video:hover)~& {
    backdrop-filter: none;
  }

  >canvas {
    display: block;
    height: 90%;
    margin: 2px;
    box-shadow: var(--shadow-lg);
  }

  canvas {
    pointer-events: auto;
    cursor: pointer;
    border-radius: var(--radius-md);

    &:hover {
      outline: solid 2px var(--color-accent);
    }
  }

  .pipContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 27.5%;
    display: flex;
    gap: 6px;
    margin: min(16px, 2%);
    flex-direction: column;

    canvas {
      width: 100%;
      box-shadow: var(--shadow-md);
    }
  }
}