.container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  backdrop-filter: brightness(35%) blur(1px);

  :global(video:hover)~& {
    backdrop-filter: none;
  }

  /* main canvas */
  >.cropCanvas {
    display: block;
    height: 90%;
    outline-offset: -2px;
    outline-width: 2px;

    >canvas {
      height: 100%;
    }
  }

  /* wraps all canvases, either as a <div> or a <button> */
  .cropCanvas {
    overflow: clip;
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-lg);
    transition: all .2s;
  }

  button {
    pointer-events: auto;
    cursor: pointer;
  }

  .pipContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 27.5%;
    display: flex;
    gap: 6px;
    margin: min(16px, 2%);
    flex-direction: column;
    pointer-events: auto;

    canvas {
      width: 100%;
      box-shadow: var(--shadow-md);
    }

    .cropCanvas:hover {
      transform: scale(103%);
    }

    &:hover .cropCanvas:not(:hover, :focus-visible) {
      filter: brightness(60%);
    }
  }
}