.thumbstrip {
  margin-block-start: 1rem;

  >ul {
    list-style: none;
    display: flex;
    gap: calc(var(--spacing) * 2);
    /* just enough room for focus outline */
    padding: 4px;
    overflow-x: auto;

    a {
      display: inline-block;
      border-radius: var(--radius-sm);
      overflow: clip;
      position: relative;
      color: inherit;
      outline-offset: 1px;
      outline-width: 2px;

      span {
        position: absolute;
        bottom: 0;
        right: 0;
        font-weight: 500;
        font-size: var(--text-sm);
        background-color: rgb(0 0 0 / 50%);
        border-radius: var(--radius-sm);
        padding: 0 4px;
        margin: 0 2px 2px 0;
      }
    }

    [aria-current] {
      outline: solid var(--color-accent) 2px;
      outline-offset: 1px;
    }

    img {
      /* the tailwind reset value of 100% has some interesting effects when there are a
      bunch of siblings. */
      max-width: 200px;
    }
  }
}