.container {
  backdrop-filter: brightness(150%);
  aspect-ratio: 16 / 9;
  max-height: 70vh;
  position: relative;
  border-radius: var(--radius-md);
  overflow: clip;

  >span {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-weight: bold;
    color: hsl(from var(--foreground) h s calc(l*.5));
  }
}

.segments {
  list-style: none;
  padding: .2rem 0;
  display: flex;
  gap: var(--spacing);

  button {
    cursor: pointer;
    padding: .1rem .5rem;
    border: solid 1px;
    border-radius: var(--radius-sm);
  }

  li.active {
    button {
      outline: solid 1px var(--color-accent);
    }
  }
}