.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;
}

.player {
  border-radius: var(--radius-md);
  aspect-ratio: 16/9;
  position: relative;
  background-color: hsl(0 0 100% / .03);
  /* backdrop-filter: brightness(150%); */
  min-height: 200px;
  overflow: clip;

  &:not(:has(video)) {
    width: 100%;
  }

  video {
    max-width: 100%;
  }

  span {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-weight: bold;
    color: hsl(from var(--foreground) h s l / .7);
  }

  time {
    position: absolute;
    pointer-events: none;
    inset: auto 0 0 auto;
    font-weight: 500;
    font-size: var(--text-sm);
    background-color: rgb(0 0 0 / 50%);
    border-radius: 0 0 var(--radius-sm) 0;
    padding: 0 6px;
    margin: 0 3px 3px 0;
  }
}

.vidFooter {
  display: flex;
  justify-content: space-between;
  align-self: stretch;

  button {
    all: revert;
  }
}

.segments {
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing) * 3);
  padding: .5rem 0;
  color: hsl(from var(--foreground) h s l / .7);

  ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: calc(var(--spacing) * 2);
  }

  button {
    cursor: pointer;
    font-size: var(--text-sm);
    font-weight: 600;
    padding: .1rem .5rem;
    border-color: hsl(from var(--foreground) h s l / .5);
    border-radius: var(--radius-sm);

    .active & {
      outline: solid 1px var(--color-accent);
    }
  }
}